<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
      <h2><i>PROGRESS</i></h2>
      <app-require [module]="'base'" [name]="'ngx-progressbar'"></app-require>
      <app-progress></app-progress>
    </div>
  </div>
  <hr>
  <hr>
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
      <h2><i>CONTEXTMENU</i></h2>
      <app-require [module]="'base'" [name]="'ngx-contextmenu'"></app-require>
      <app-contextmenu></app-contextmenu>
    </div>
  </div>
</div>
