<div style="margin:20px; padding:20px">
    <div style="position: relative">
        <div style="margin:20px; padding:20px;transform: translate3d(0px, 0px, 0px)">
            <div style="transform: translate3d(10px, -10px, 0px)">
                <h3>Base Case</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success" *ngFor="let item of items"
                        [contextMenu]="basicMenu" [contextMenuSubject]="item">Right Click: {{item?.name}}
                    </li>
                </ul>
                <context-menu #basicMenu style="pointer-events:all">
                    <template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
                        Say hi!
                    </template>
                    <template contextMenuItem let-item (execute)="showMessage($event)">
                        Bye, {{item?.name}}
                    </template>
                    <template contextMenuItem passive="true">
                        Input something: <input type="text">
                    </template>
                </context-menu>
                <h3>Enabled and Visible</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info" *ngFor="let item of items"
                        [contextMenu]="enableAndVisible" [contextMenuSubject]="item">Right Click: {{item?.name}}
                    </li>
                </ul>
                <context-menu #enableAndVisible>
                    <template contextMenuItem let-item [visible]="true" [enabled]="false"
                              (execute)="showMessage('Hi, ' + $event.item.name)">
                        Say hi, {{item?.name}}! With access to the outside context: {{ outsideValue }}
                    </template>
                    <template contextMenuItem [visible]="false" (execute)="showMessage('Hi, ' + $event.item.name)">
                        This will never show...
                    </template>
                    <template contextMenuItem [divider]="false"></template>
                    <template contextMenuItem let-item [visible]="true" [enabled]="true"
                              (execute)="showMessage($event.item.name + ' said: ' + $event.item.otherProperty)">
                        Bye, {{item?.name}}
                    </template>
                </context-menu>
                <h3>Enabled and Visible as Functions</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger" *ngFor="let item of items"
                        [contextMenu]="withFunctions" [contextMenuSubject]="item">Right Click: {{item?.name}}
                    </li>
                </ul>
                <context-menu #withFunctions>
                    <template contextMenuItem [enabled]="onlyJohn" (execute)="showMessage('Hi, ' + $event.item.name)">
                        Say hi! (enabled for John)
                    </template>
                    <template contextMenuItem [visible]="onlyJoe" (execute)="showMessage('Hi, ' + $event.item.name)">
                        Say hi! (visible for Joe)
                    </template>
                    <template contextMenuItem let-item
                              (execute)="showMessage($event.item.name + ' said: ' + $event.item.otherProperty)">
                        Bye, {{item?.name}}
                    </template>
                </context-menu>
                <h3>Items and Actions</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-heading" *ngFor="let item of items"
                        [contextMenu]="itemContextMenu" [contextMenuSubject]="item">
                        {{item.name}}
                        <context-menu #itemContextMenu>
                            <template *ngFor="let action of item.actions" contextMenuItem let-item
                                      [visible]="action.visible"
                                      [enabled]="action.enabled" [divider]="action.divider"
                                      (execute)="action.execute($event.item)">
                                {{ action.html(item) }}
                            </template>
                        </context-menu>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
