<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
      <h2><i>ANGULAR-CONFIRMATION-POPOVER</i></h2>
      <app-require [module]="'base'" [name]="'angular-confirmation-popover'"></app-require>
      <app-confirm-popover></app-confirm-popover>
    </div>
  </div>
  <hr>
  <hr>
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
      <h2><i>ANGULAR-TREE-COMPONENT</i></h2>
      <app-require [module]="'base'" [name]="'angular-tree-component'"></app-require>
      <app-angular-tree></app-angular-tree>
    </div>
  </div>
  <hr>
  <hr>
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
      <h2><i>ANGULAR-CALENDAR</i></h2>
      <app-require [module]="'base'" [name]="'angular-calendar'"></app-require>
      <app-calendario></app-calendario>
    </div>
  </div>
</div>
